@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*,
*::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* primary */
  --Lime-Green: hsl(163, 72%, 41%);
  --Bright-Red: hsl(356, 69%, 56%);
  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram:  hsl(37, 97%, 70%); 
  --Instagram2: hsl(329, 70%, 58%);
  --YouTube: hsl(348, 97%, 39%);
  /* //dark theme */
  --Toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
  --Very-Dark-Blue-BG: hsl(230, 17%, 14%);
  --Very-Dark-Blue-Top-BG-Pattern: hsl(232, 19%, 15%);
  --Dark-Desaturated-Blue-Card-BG: hsl(228, 28%, 20%);
  --Desaturated-Blue-Text: hsl(228, 34%, 66%);
  --White-Text: hsl(0, 0%, 100%);
  /* Light Theme */
  --Toggle-light: hsla(230, 22%, 74%, 0.2);
  --White-BG: hsl(0, 0%, 100%);
  --Very-Pale-Blue-Top-BG-Pattern: hsl(225, 100%, 98%);
  --Light-Grayish-Blue-Card-BG: hsl(227, 47%, 96%);
  --Dark-Grayish-Blue-Text: hsl(228, 12%, 44%);
  --Very-Dark-Blue-Text: hsl(230, 17%, 14%);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--Light-Grayish-Blue-Card-BG);
  margin: 1rem;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--Very-Dark-Blue-Text);

}

h1 {
  margin-bottom: 0.2rem; color: var(--Very-Dark-Blue-Text);
}

p {
  color: var(--Dark-Grayish-Blue-Text);
}

header {
  text-align: start;
  font-weight: 700;
  
  
}



hr {
  border: 0;
  height: 1px;
  background-color: black;
  opacity: 0.7;
  margin-top: 1rem;
}

.dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

input[type="range"]{
  -webkit-appearance: none;
  margin-right: 15px;
  width: 2rem;
  height: 1rem;
  background: grey;
  border-radius:50px;
  
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  

}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--Very-Pale-Blue-Top-BG-Pattern);
  gap: 1rem;
  width: 90vw;
 
  
}

.link {
  display: flex;
  text-decoration: none;
  color: #000;
  gap: 0.5rem;
  margin-bottom: 1rem;
  color: var(--Very-Dark-Blue-Text);
}



.facebook  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: solid 3px var(--Facebook);
  border-radius: 5px;
  background-color:  var(--Toggle-light);
  padding: 1rem;
}

.Twitter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: solid 3px var(--Twitter);
  border-radius: 5px;
  background-color:  var(--Toggle-light);
  padding: 1rem;
}

.Instagram {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: solid 3px var(--Instagram);
  border-radius: 5px;
  background-color:  var(--Toggle-light);
  padding: 1rem;
}

.Youtube {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: solid 3px var(--YouTube);
  border-radius: 5px;
  background-color:  var(--Toggle-light);
  padding: 1rem;
}
.num {
  font-size: 3rem;
  font-weight: 700;
  color: unset;
}

.followers {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--Dark-Grayish-Blue-Text);
}

.today {
  display: flex;
  align-items: center;
  margin-top: 1.5rem ;
  color: var(--Lime-Green);
  font-weight: 700;
}

.Youtube .today {
  color: var(--Bright-Red);
}

.reactions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1rem;
  background-color: var(--Toggle-light) ;
  padding: 1rem 1.5rem;
  border-radius: 5px;
}


.reactions .link {
  display: flex;
  text-decoration:dashed;
  justify-content: space-between;
 
}

.reactions :first-child {
  grid-column: span 2;
}

.reactions .num {
  font-size: 2rem;
  font-weight: 700;
  color: unset;
}

.reactions .today {
  column-span: 2;
  justify-content: end;
}

/* .numbers {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-self: center;
  background-color: red;
  width: 17rem;
} */

/* .numbers .today {
  align-self: center;
  align-items: center;
  justify-content: end;
  justify-self: flex-end;
} */